@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Noto+Sans+KR:wght@400;500;700&display=swap");
@font-face {
    font-family: "omyu_pretty";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

/* common */
body {
    font-family: "Noto Sans Kr", sans-serif;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
section {
    margin-bottom: 100px;
}
section h2 {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}
section h2:not(.no):before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 24px;
    background-color: #f9a9a9;
    margin-right: 16px;
}

/* header */
.header {
    width: 100%;
    height: 96px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    top: 0;
    left: 0;
    z-index: 9;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.header .gnb .depth1 {
    display: flex;
    align-items: center;
}
.header .gnb .depth1 a {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-right: 80px;
    text-transform: uppercase;
}
.header .gnb .depth1 a:hover {
  color: #f9a9a9;
}
.gnb ul li.on {
  color: #f9a9a9;
}
/* intro */
.intro {
    width: 100%;
    background: linear-gradient(90deg, #fff 0%, #ffecec 100%);
    border-radius: 0px 200px 200px 0px;
    margin-top: 96px;
}
.intro .content-wrap {
    display: flex;
    justify-content: space-between;
}
.intro .img-wrap {
    width: 25.15625%;
    margin-right: 94px;
}
.intro .text-wrap h3 {
    -webkit-text-stroke: 1px #000;
    color: #f9a9a9;
    text-transform: uppercase;
    font-size: 62px;
}
.intro .text-wrap p {
    font-size: 20px;
    color: #232323;
    text-transform: uppercase;
    margin-top: 10px;
}
.intro .hashtag {
    padding-top: 160px;
}
.intro .hashtag span {
    font-family: "omyu_pretty";
    display: inline-block;
    font-size: 32px;
    color: #f9a9a9;
    cursor: pointer;
    transition: 0.4s;
    padding: 4px 10px;
    border-radius: 20px;
    margin: 2px;
}
.intro .hashtag span:hover {
    background-color: #f9a9a9;
    color: #fff;
}

/* about */
.profile-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
.profile-wrap .profile-img {
    width: 264px;
    margin-right: 140px;
    padding: 14px;
    background-color: #ffecec;
    border-radius: 50%;
}
.profile-wrap .text-wrap {
    margin-right: 100px;
}
.profile-wrap .text-wrap p {
    font-size: 20px;
    margin-bottom: 20px;
}
.profile-wrap .comment-wrap::before,
.profile-wrap .comment-wrap::after {
    content: "";
    display: block;
    width: 66px;
    height: 66px;
}
.profile-wrap .comment-wrap::before {
    background-image: url(../img/quote1.png);
    margin-right: 16px;
}
.profile-wrap .comment-wrap::after {
    background-image: url(../img/quote2.png);
    margin-left: 16px;
}
.profile-wrap .comment-wrap {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 500;
}
.about-content-wrap {
    display: flex;
    justify-content: space-between;
}
.about-content-wrap .content .list1,
.about-content-wrap .content .list2 {
    margin-bottom: 8px;
}
.about-content-wrap .content h3 {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #f9a9a9;
    margin-bottom: 20px;
}
.about-content-wrap .content span,
.about-content-wrap .content b {
    font-size: 18px;
}
.about-content-wrap .content span {
    margin-right: 10px;
}
.about-content-wrap .content b {
    font-weight: 500;
}

/* skill */
.skill-list .skill {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}
.skill-list .skill p {
    width: 74px;
    font-family: "Montserrat";
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 32px;
}
.progress-bar {
    width: 74.6875%;
    height: 40px;
    background-color: #fff5f5;
    border-radius: 80px;
}
.progress {
    height: 40px;
    text-align: center;
    background-color: #f9a9a9;
    border-radius: 80px;
}
.progress-bar .seventy {
    width: 70%;
    animation: seventy 3s linear 2s;
}
.progress-bar .seventy-half {
    width: 75%;
    animation: seventy-half 3s linear 2s;
}
.progress-bar .eighty {
    width: 80%;
    animation: eighty 3s linear 2s;
}
.progress-bar .ninety {
    width: 90%;
    animation: ninety 3s linear 2s;
}
@keyframes seventy {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}
@keyframes seventy-half {
    0% {
        width: 0%;
    }
    100% {
        width: 75%;
    }
}
@keyframes eighty {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}
@keyframes ninety {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

/* portfolio */
.work-list .list {
    display: flex;
    flex-wrap: wrap;
}
.work-list .list li {
    width: calc(97.5% / 3);
    border-radius: 50px;
    position: relative;
    border-radius: 40px;
    overflow: hidden;
    margin-bottom: 16px;
}
.work-list .list li:not(:nth-child(3n)) {
    margin-right: 16px;
}
.work-list .list li img {
    display: inline-block;
}
.work-list .list li .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 20px;
}
.work-list .list li .overlay .text-wrap {
    width: 100%;
    padding: 40px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 20px;
    align-items: center;
}
.work-list .list li .overlay .text-wrap p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 16px;
}
.work-list .list li .overlay .text-wrap span {
    font-size: 16px;
    display: block;
    text-align: center;
}
.work-list .list li .overlay:hover {
    opacity: 1;
}
.work-list .list li .icon {
    width: 130px;
    height: 50px;
    margin-top: 200px;
    border-radius: 20px;
    border: 2px solid #fff;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-list .list li .icon a {
  display: flex;
  justify-content: center;
  align-items: center;
    width: 100%;
    height: 100%;
}
.work-list .list li .icon:hover {
    background-color: #fff;
    color: #000;
    font-weight: 500;
}


/* ============================ */

/* #sec01,#sec02,#sec03,#sec04 {
  scroll-margin-top: 120px;
  scroll-padding-top: 120px;
} */